.post__pay__status {
    padding: 30px;
    font-size: 12px;
}

strong {
    font-weight: bold;
}

@media (min-width: 768px) {
    .post__pay__status {
        padding: 50px;
        font-size: 16px;
    }
}