.post__pay__status {
    padding: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

strong {
    font-weight: bold;
}

@media (min-width: 768px) {
    .post__pay__status {
        padding: 30px;
        font-size: 16px;
    }
}