.modal__pay__wrapper {    
    min-width: 300px;
    position: fixed;
    top: 100px;
    background-color: var(--secondary);
    border: var(--main) solid 1px;
    border-radius: 5px;
    z-index: 999;
}

.modal__pay__header {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--secondary);
    background-color: var(--main);
}

.receiver__name {
    color: var(--contrast);
}

.form__pay {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form__input {
    height: 30px;
    border: var(--secondary-text) solid 1px;
    border-radius: 3px;
}

.form__input--submit {
    width: 70px;
    align-self: center;
    background-color: var(--main);
    color: var(--secondary);
    font-weight: bold;
    cursor: pointer;
}

.form__input--submit:hover {
    background-color: var(--main-hover);
}

.back {
    font-size: 12px;
    font-weight: bold;
    color: var(--main);
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal__pay__wrapper {
        min-width: 400px;
    }
}