.spinner{
  min-width: 375px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}

.spinner img {
  width: 100px;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}